.nav {
  height: 100px;
  width: 100vw;
  display: grid;
  grid-template-columns: 100px repeat(8, 1fr) repeat(3, 125px);
  background-color: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  grid-column: 1/2;
  background-color: purple;
}

.nav-buttons {
  grid-column: 10/13;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list {
  grid-column: 1/2;
  background-color: #000;
  display: grid;
  border-right: 1px solid rgba(255, 255, 255, .5);
}

.recomended {
  grid-column: 2/3;
  background-color:  #000;
  display: grid;
  border-right: 1px solid rgba(255, 255, 255, .5);
}

.profile {
  grid-column: 3/4;
  background-color: #000;
  display: grid;
}

.nav-list-p {
  font-size: 20px;
  color: #fff;
  align-self: center;
  justify-self: center;
}

.nav-spacer {
  height: 100px;
  width: 100%;
}


